backend/django/venv
backend/django/env
backend/django/bookmarks/venv
backend/django/bookmarks/db.sqlite3
backend/django/bookmarks/account/migrations/
backend/django/bookmarks/orders/migrations/
.idea
__pycache__
.vscode/
*.pyc
*.sqlite3